Checks: '-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-type-member-init,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-avoid-bind,
         performance-*,
         readability-*,
         -readability-identifier-length,
         -readability-uppercase-literal-suffix,
         -readability-function-cognitive-complexity,
         misc-*'