Checks: '-*,
         clang-analyzer-*,
         concurrency-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-bounds-constant-array-index,
         -cppcoreguidelines-pro-type-member-init,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-avoid-bind,
         performance-*,
         readability-*,
         -readability-identifier-length,
         -readability-uppercase-literal-suffix,
         -readability-function-cognitive-complexity,
         misc-*,
         google-*'
CheckOptions:
    readability-identifier-naming.LocalVariableCase: 'SnakeCase'
    readability-identifier-naming.PrivateMemberCase: 'SnakeCase'
    readability-identifier-naming.PrivateMemberPrefix: 'm_'
    readability-identifier-naming.ProtectedMemberCase: 'SnakeCase'
    readability-identifier-naming.ProtectedMemberPrefix: 'm_'
    readability-identifier-naming.PublicMemberCase: 'SnakeCase'
    readability-identifier-naming.ConstexprVariableCase: 'SnakeCase'
    readability-identifier-naming.ConstexprVariablePrefix: 'k_'
    readability-identifier-naming.StaticVariableCase: 'SnakeCase'
    readability-identifier-naming.StaticVariablePrefix: 's_'
    readability-identifier-naming.GlobalVariableCase: 'SnakeCase'
    readability-identifier-naming.GlobalVariablePrefix: 'g_'
    readability-identifier-naming.ClassCase: 'CamelCase'
    readability-identifier-naming.ClassMethodCase: 'CamelCase'
    readability-identifier-naming.StructCase: 'CamelCase'
    readability-identifier-naming.StructMethodCase: 'CamelCase'
    readability-identifier-naming.ParameterCase: 'SnakeCase'
    readability-inconsistent-declaration-parameter-name.Strict: 'true'